<%= form_with(model: bagmon, local: true) do |form| %>
  <% if bagmon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bagmon.errors.count, "error") %> prohibited this bagmon from being saved:</h2>

      <ul>
      <% bagmon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <%= form.label :number, class: "input-group-text" %>
    <%= form.number_field :number, class: "form-control"%>
  </div>

  <div class="input-group mb-3">
    <%= form.label :name, class: "input-group-text" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :image, class: "input-group-text" %>
    <%= form.text_field :image, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :type_id, class: "input-group-text" %>
    <%= form.select("type_id", @type_options, {include_blank: 'Selecione...', class: "form-select"}, {:multiple => false}) %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
