<body style='background-color: <%=@bagmon.type.color %>'>
  <div style='display: flex; flex-direction: column; align-items: center;'>
    <div class="card border-light mb-3" style="width: 18rem; top: 0;
      left: 0;
      right: 0;
      z-index: 3000;">
        <h1 style='text-align: center; background: <%=@bagmon.type.color %>; padding: 1.5rem;'><%= @bagmon.name %> #<%= @bagmon.number%></h1>
          <div style='background-color: white; display: flex; flex-direction: column; padding: 1.5rem;'>
    
            <p>
              <strong>Type:</strong>
              <%= @bagmon.type.name  %>
            </p>

            <p>
              <%= image_tag @bagmon.image, width: "250" %>
            </p>

            <div>
              <%= link_to 'Edit', edit_bagmon_path(@bagmon), class:"btn btn-warning" %>
              <%= link_to 'Back', bagmons_path, class:"btn btn-primary" %>   
            </div>
          </div>
    </div>
  </div>
</body>

